body {
  height: 100vh;
  background-color: beige;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

@media (max-width: 920px) {
  body {
    height: auto;
  }
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.arrowDown {
  font-size: 14px !important;
  margin-top: -6px;
  margin-left: 8px;
  transform: rotate(-90deg);
}

.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
